*{
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    overflow-x: hidden;
    
}


.header{
    background: linear-gradient(#4D68A1, #3B5998);
    padding-top: 10px;
    padding-bottom: 10px;

    &__container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        margin: auto;
        overflow: hidden;
    }

    &__logo-content{
        margin-top: 15px;
    }

    &__logo{
        cursor: pointer;
    }

    &__form{
        display: flex;
        margin-right: 27px;
        max-width: 440px;
        width: 40%;
    }

    &__form-wrap{
        display: inline-block;
        width: 190px;
        align-items: center;
        color: #fff;
        font-size: 12px;
        margin-right: 5px;
    }

    &__input-email{
        padding: 3px;
        margin-top: 4px;
        width: 100%;
        box-sizing: border-box;
        outline: none;
    }

    &__text-email{
        cursor: pointer;
    }

    &__input-password{
        padding: 3px;
        margin-top: 4px;
        margin-bottom: 5px;
        width: 100%;
        box-sizing: border-box;
        outline: none;
    }

    &__text-password{
        cursor: pointer;
    }

    &__link{
        color: #9cb4d8;
        font-size: 12px;
        text-decoration: none;

        &:hover{
            text-decoration: underline;
        }
    }

    &__button-content{
        max-width: 50px;
        width: 100%;
        box-sizing: border-box;

    }

    &__button{
        padding: 5px 4px;
        margin-top: 18px;
        font-size: 12px;
        font-weight: bold;
        background-color: #4267b2;
        color: #fff;
        border:1px solid #29487d;
        cursor: pointer;

        &:hover{
            background-color: #365899;
        }
    }
}

.body{
    background: linear-gradient(#FFFFFF, #D4D9E8);

    &__container{
        max-width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        padding: 30px 0 70px;
    }

    &__content-wrap{
        width: 50%;
        margin-top: 10px;
        font-size: 25px;
        color: #1d2129;
        font-weight: bold;
    }

    &__content-photo{
        margin-top: 35px;
        width: 100%;
        max-width: 700px;
    }

    &__reg-wrap{
        width: 40%;
        max-width: 580px;
        margin-right: 30px;
    }

    &__text{
        font-size: 36px;
        color: #1d2129;
        font-weight: bold;
        margin-bottom: 4px;
    }

    &__text1{
        font-size: 19px;
        color: #1d2129;
        margin-bottom: 10px;
    }

    &__reg-full-name{
        display: flex;
        justify-content: space-between;
    }

    &__reg-fname{
        width: 49%;
        border: 1px solid #bdc7d8;
        padding: 8px 10px;
        font-size: 18px;
        margin-bottom: 7px;
        border-radius: 5px;
        overflow: hidden;
        box-sizing: border-box;
        outline: none;
    }

    &__reg-sname{
        width: 49%;
        border: 1px solid #bdc7d8;
        padding: 8px 10px;
        font-size: 18px;
        margin-bottom: 7px;
        border-radius: 5px;
        overflow: hidden;
        box-sizing: border-box;
        outline: none;
    }

    &__reg-info{
        width: 100%;
        display: block;
        border: 1px solid #bdc7d8;
        padding: 8px 10px;
        font-size: 18px;
        margin-bottom: 7px;
        border-radius: 5px;
        box-sizing: border-box;
        outline: none;
    }

    &__birthday{
        font-size: 18px;
        font-weight: normal;
        color: #1d2129;
        margin-bottom: 5px;
    }
    
    &__birthday-input{
        padding: 5px;
        font-size: 13px;
        border: 1px solid #bdc7d8;
    }

    &__birthday-all-input{
        display: flex;
    }

    &__text-why{
        margin: 5px 10px;
    }

    &__text2{
        font-size: 11px;
        text-decoration: none;

        &:hover{
            text-decoration: underline;
        }
    }

    &__gender{
        margin-top: 20px;
    }

    &__gen-text{
        font-size: 18px;
        color: #1d2129;
        margin-right: 20px;
    }

    &__text3{
        font-size: 12px;
        color: #777;
        margin-top: 18px;
    }

    &__a-tag{
        text-decoration: none;

        &:hover{
            text-decoration: underline;
        }
    }

    &__button{
        margin: 15px 0;
        background: linear-gradient(#67ae55, #578843);
        color: #fff;
        font-size: 19px;
        border-width: 1px;
        border-style: solid;
        border-color: #3b6e22 #3b6e22 #2c5115;
        box-shadow: inset 0 1px 1px #a4e388;
        border-radius: 5px;
        text-shadow: 0 1px 2px rgba(0,0,0,.5);
        padding: 7px 20px;
        cursor: pointer;

        &:hover{
            background: linear-gradient(#79bc64, #578843);
        }
    }

    &__text4{
        font-size: 13px;
        color: #666;
        font-weight: bold;
    }

    &__a-create{
        text-decoration: none;

        &:hover{
            text-decoration: underline;
        }
    }
}   